<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <div class="col-md-3">
      <ng-container *ngIf="budget; else spinner">
        <h5>{{ budget.title }}</h5>
        <h6 i18n><i class="fas fa-home fa-fw"></i> Konten</h6>
        <ul class="nav flex-column">
          <li class="nav-item d-flex flex-row justify-content-between" *ngFor="let account of budget.accounts">
            <span>{{ account.title }}</span>
            <span>{{ account.money | hundredthCurrency }}</span>
          </li>
        </ul>
      </ng-container>
    </div>

    <!-- Main content -->
    <div class="col-md-9">
      <efpo-month-picker [formControl]="month"></efpo-month-picker>
      <router-outlet></router-outlet>
    </div>

  </div>
</div>

<ng-template #spinner>
  <efpo-spinner></efpo-spinner>
</ng-template>
